@model IEnumerable<AlphaS_Web.Models.Participant>

@{
    ViewData["Title"] = "Index";
}

<h1>Participants</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ParticipantId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birth_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nationality)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ParticipantId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birth_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nationality)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.ParticipantId  }) |
                @Html.ActionLink("Details", "Details", new { id = item.ParticipantId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ParticipantId })
            </td>
        </tr>
}
    </tbody>
</table>
