@model IEnumerable<AlphaS_Web.Models.Module>

@{
    ViewData["Title"] = "Index";
}

<h1>Modules</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ModuleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModuleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModuleTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PathToExe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PathToExe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new {  id=item.ModuleId }) |
            </td>
        </tr>
}
    </tbody>
</table>
