@model AlphaS_Web.Models.ModuleInExperiment

<div class="row">
    @{/*
            @Html.DisplayNameFor(model => model.ModuleOrder)
            @Html.DisplayFor(model => model.ModuleOrder)
          */
    }
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="ModuleOrder" class="control-label"></label>
            <input asp-for="ModuleOrder" class="form-control" />
            <span asp-validation-for="ModuleOrder" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ModuleName" class="control-label"></label>
            <input asp-for="ModuleName" class="form-control" />
            <span asp-validation-for="ModuleName" class="text-danger"></span>
        </div>
    </div>
</div>




@{ 
/*

<div class="form-group">
    @Html.LabelFor(model => model.ModuleName)
    @Html.DropDownList("ModuleName", (IEnumerable<SelectListItem>)ViewBag.Modules, "Choose Module", htmlAttributes: new { @class = "form-control", @id= "ModuleName"+ Model.ModuleOrder })
</div>

    <div id="@("InputModule"+Model.ModuleOrder)" >

    </div>



    <div class="col-md-4">
        <input class="btn btn-default" type="button" id="@("btnGetVariables"+Model.ModuleOrder)" value="Add module" />
    </div>
    <script type="text/javascript">
        $("#@("btnGetVariables"+Model.ModuleOrder)").on('click', function () {
            var ddl = document.getElementById("@("ModuleName"+ Model.ModuleOrder)");
            var SelVal = ddl.value;
            console.log("SelVal = " + SelVal);
            var neaded_url = "/Experiments/OpenVariables/" + SelVal;
            console.log("PartitialVeiw url : " + neaded_url);
            $.ajax({
                async: true,
                type: "POST",
                url: neaded_url,
                success: function (partialView) {
                    $('#@("InputModule"+Model.ModuleOrder)').html(partialView);
                }
            });
        });
    </script>


    */
}
