@model IEnumerable<AlphaS_Web.Models.Experiment>

@{
    ViewData["Title"] = "Index";
}

<h1>Эксперименты</h1>

<p>
    <a asp-action="Create">Создать эксперимент</a>
</p>

<div class="form-group">
    <form asp-action="FilterByPreset" id="form">
        <div class="col-md-6">
            @Html.DropDownList("id", (IEnumerable<SelectListItem>)ViewBag.Presets, "Выберите пресет", htmlAttributes: new { @class = "form-control", @id = "PresetName" })
        </div>
        <div class="col-md-4">
            <input class="btn btn-primary" type="button" id="btnFilterByPreset" value="Отфильтровать" />
        </div>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExperimentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperatorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PresetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinishTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ExperimentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OperatorId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PresetName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinishTime)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new { id = item.ExperimentId }) |
                    @Html.ActionLink("Детали", "Details", new { id = item.ExperimentId })
                </td>
            </tr>
        }
    </tbody>
</table>





@section Scripts {

    <script type="text/javascript">
        $("#btnFilterByPreset").on('click', function () {
            console.log("Filtereing preset");
            var ddl = document.getElementById("PresetName");
            var SelVal = ddl.value;
            console.log("SelVal = " + SelVal);
            var neaded_url = "/Experiments/FilterByPreset/" + SelVal;
            console.log("Filtereing by preset " + neaded_url);
            window.open(neaded_url, "_self")
        });
    </script>
}
