@model AlphaS_Web.Models.ModuleInExperiment

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModuleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModuleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModuleOrder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModuleOrder)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinishTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FinishTime)
        </dd>

        <dt class="col-sm-12">
            @Html.DisplayNameFor(model => model.InputValues)
        </dt>

        @foreach (var keyValue in Model.InputValues.Keys)
        {
            <dt class="col-sm-2">
                @keyValue
            </dt>
            <dd class="col-sm-10">
                @Model.InputValues.GetValueOrDefault(keyValue)
            </dd>
        }

        <dt class="col-sm-12">
            @Html.DisplayNameFor(model => model.OutputValues)
        </dt>
        @foreach (var keyValue in Model.OutputValues.Keys)
        {
            <dt class="col-sm-2">
                @keyValue
            </dt>
            <dd class="col-sm-10">
                @Model.OutputValues.GetValueOrDefault(keyValue)
            </dd>
        }

    </dl>
</div>