@model AlphaS_Web.Models.ParticipantInExperiment

<div>
    <h4>ParticipantInExperiment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParticipantId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParticipantId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Intoxication)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Intoxication)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeadInjury)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeadInjury)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Periods)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Periods)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdditionalInfo)
        </dd>
    </dl>
</div>
